<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <title>{{ config.title }}</title>

  <link rel="stylesheet" href="/style.css">

  {% block rss %}
    <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
  {% endblock %}

  <!-- https://katex.org/docs/browser.html -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.5/dist/katex.min.css" integrity="sha384-L+Gq2Cso/Y2x8fX4wausgiZT8z0QPZz7OqPuz4YqAycQJyrJT9NRLpjFBD6zlOia" crossorigin="anonymous">

  <!-- The loading of KaTeX is deferred to speed up page rendering -->
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.5/dist/katex.min.js" integrity="sha384-z64WtjpyrKFsxox9eI4SI8eM9toXdoYeWb5Qh+8PO+eG54Bv9BZqf9xNhlcLf/sA" crossorigin="anonymous"></script>

  <!-- To automatically render math in text elements, include the auto-render extension: -->
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.5/dist/contrib/auto-render.min.js" integrity="sha384-vZTG03m+2yp6N6BNi5iM4rW4oIwk5DfcNdFfxkk9ZWpDriOkXX8voJBFrAO7MpVl" crossorigin="anonymous"
      onload="renderMathInElement(document.body);"></script>

  <!-- counter.dev -->
  <!-- TODO: this is probably blocked by CSP: it's blocking inline scripts. Check after a while and see if page counts go down-->
  <script>if(!sessionStorage.getItem("_swa")&&document.referrer.indexOf(location.protocol+"//"+location.host)!== 0){fetch("https://counter.dev/track?"+new URLSearchParams({referrer:document.referrer,screen:screen.width+"x"+screen.height,user:"bbkane",utcoffset:"-8"}))};sessionStorage.setItem("_swa","1");</script>

</head>

<body>
  <div class="wrapper">

    <section>
      <div id="title">
        <h1><a href="{{ config.base_url }}/">{{ config.title }}</a></h1>
        <p>{{ config.description }}</p>
        <hr>
        <span class="credits right">Me:
          <a href="{{ config.extra.github_url }}">GitHub</a> |
          <a href="{{ config.extra.linkedin_url }}">LinkedIn</a> |
          <a href="{{ config.extra.stackoverflow_url }}"> StackOverflow</a>
        </span>
        <span class="credits left">Site:
          <a href="{{ config.extra.site_github_repo_url }}">Repo</a> |
          <a href="/blog/">Blog</a> |
          <a href="/atom.xml">RSS</a>
        </span>
      </div>

      <div class="content-body">
        {% block content %} {% endblock %}
      </div>

    </section>

  </div>
  <script data-goatcounter="https://www-bbkane-com.goatcounter.com/count"
          async src="//gc.zgo.at/count.js"></script>
</body>

</html>
